<!DOCTYPE html>
<html lang="fr" th:replace="fragments/layout :: layout(~{::title},~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Utilisateurs</title>
</head>
<body>

    <section>
        <h2>Utilisateurs</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom d'utilisateur</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.username}">Username</td>
                </tr>
            </tbody>
        </table>
    </section>

</body>
</html>